# Se ignoran los archivos json, son muy pesados, y tengo variso de prueba.
*.json

# Se ignoran todoslos archivos temporales/complementarios/cache generados
*.ipynb_checkpoints
*__pycache__
*.DS_Store*